* {
  margin: 0px;
  padding: 0px;
}
#menu-temp {
  background-color: rgba(243, 238, 238, 0.2);;
  width: 100%;
  height: 150px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.2);
}
/*----------------------------*/
body {
  background-image: url(/imagens/background/6_white\ crumpled\ paper\ texture-seamless.jpg);
}
main {
  background-image: url(/imagens/icons/core-entrelacado.svg);
  background-size: 420px;
  background-position: 880px -40px;
  background-repeat: no-repeat;
  height: 550px;
}
/*--------Page-main----------*/
.start-page-color {
  color: #A70006;
}
.start-page {
  margin-top: 60px;
}
.text-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 90px;
  margin-top: 25px;
}
.text-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #585353;
  line-height: 45px;
}
/*--------Page-main----------*/

/*--------Botão----------*/
.buscar_ponto {
  margin-top: 30px;
  display: flex;
  border-style: none;
  background-color: #FB4949;
  align-items: center;
  border-radius: 12px;
}
.buscar_ponto:focus{
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.buscar_ponto:hover {
  background-color:  #e71e1e;
}
.buscar_ponto span {
  padding: 25px;
  border-radius: 12px 0px 0px 12px;
  background-color: #A70006;
}
.buscar_ponto span i {
  color: white;
  font-size: 40px;
  transform: scaleX(-1);
}
.buscar_ponto p {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: bold;
  margin: 0px 20px;
  color: white;
}
#campo_busca {
  border-radius: 8px;
  border-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 80px;
}
#campo_busca::-webkit-input-placeholder {
  padding-left: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#campo_busca:focus {
  outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
/*--------Botão----------*/

/*--------Responsividade----------*/
  @media screen and (max-width: 400px) {
    .start-page {
      margin-top: 40px !important;
    }
  }
  @media screen and (max-width: 280px) {
    .flor_class img {
      width: 250px !important;
      }
  }
  @media screen and (max-width: 768px) {
    .start-page {
      display: flex;
      margin-top: 100px;
    }
    .start-page-2 {
      justify-content: center;
      text-align: center;
    }
    .text-title {
      font-size: 52px;
    }
    .text-desc {
      margin-top: 10px;
      font-size: 18px;
      line-height: 20px;
    }
    .botao {
      justify-content: center;
      display: flex;
    }
    .buscar_ponto {
      margin-top: 20px;
      max-width: 315px;
    }
    .buscar_ponto span {
      padding: 15px;
    }
    .buscar_ponto span i {
      font-size: 25px;
    }
    .text-button-contain {
      font-size: 16px !important;
    }


    .sobre-site{
      padding-top: 0px !important;
    }
    .backgound-area {
      display: none;
    }
    main {
      max-height:380px;
    }

  }
  @media screen and (max-width: 1200px) {
    .flor_class {
      padding: 0px;
      margin-bottom: 35px;
    }
    .flor_class img {
    width: 300px;
    }
    .sobre-site {
      display: flex;
      flex-wrap:wrap;
      text-align: center;

      justify-content: center !important;
    }
    .desc-site p:nth-child(2){
      display: none;
    }
    main {
      background-image: none;
    }
  }
  @media screen and (min-width: 1201px) and (max-width: 1300px) {
    main {
      background-position: 780px -40px;
    }
  }
  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    main {
      background-position: 1150px -40px;
    }
  }
/*--------Responsividade----------*/

/*--------Meio da pag----------*/
  .backgound-area {
    background-image: url(/imagens/background/bh4.jpg);
    background-position-y: -350px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding: 150px;
  }


  .sobre-site {
    padding: 120px 0px;
    display: flex;
    justify-content: space-between;
  }
  .sobre-site h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #A70006;
  }
  .sobre-site p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #707070;
    margin-top: 20px;
  }
  /*--------Meio da pag----------*/